

<h1>Wanna play?</h1>

<div id="container">
	<a href="/throw/rock">
		<div class="button">
			<img src="/img/rock.png"/>
		</div>
	</a>

	<a href="/throw/paper">
		<div class="button">
			<img src="/img/paper.png"/>
		</div>
	</a>

	<a href="/throw/scissors">
		<div class="button">
			<img src="/img/scissors.png"/>
		</div>
	</a>
</div>