<!DOCTYPE html>


<html>
	<head>
		<title>RPS</title>
		<link href="/stylesheet.css" type="text/css" rel="stylesheet"/> 
		<link href='http://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<%= yield %>
	</body>
</html>