
h1 {
	text-align: center;
	font-size: 80px;
}

h2 {
	font-size: 40px;
}

p {
	font-size: 30px;
}

body {
	font-family: 'Londrina Outline', cursive;
}

.container {
	margin: 0 auto;
	width: 100%;
}

.button {
	display: inline-block;
	padding: 20px;
}

img {
	border-radius: 30%;
}

#user_inp {
	display: inline-block;
	margin:10px;
}

#comp_inp {
	display: inline-block;
	margin: 10px;
}

#play_again {
	text-decoration: none;
	font-size: 25px;
}
